header{
    width: 100%;
    height: 90px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background: black;
    z-index: 100;

}
header .logo{
    font-size: 32px;
    font-weight: 600;
    color:white;
    text-transform: capitalize;
    cursor: context-menu;
}
header .logo:hover{
    color: crimson;
    

}
header .name{
    font-size: 30px;
    font-weight:800;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: crimson;
    cursor: pointer;
}


header nav ul{
    display: flex;
}
header nav ul li{
margin:0 15px;
}
header nav ul li a{
    font-size: 18px;
    text-transform: uppercase;
    padding:10px 5px;
    letter-spacing: 3px;

}
header nav ul li a:hover{
    border-bottom: 1px solid whitesmoke;
    color: blanchedalmond;
}
