@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: inherit;
}
body{
    background: black;
    font-family: 'Barlow', sans-serif;
    color:white;
}


