.feedback{
    background: url(../image/feedback.jpg)  no-repeat fixed center;
    height: calc(100vh - 90px );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.feedback h1{
    font-size: 64px;
    text-align: center;
    color: whitesmoke;
    
}