.container {
    max-width: 1250px;
    padding: 25px;
    margin: auto;
}

main {
    counter-reset: section-counter 0;
    min-height: 100vh;
}

section {
    // min-height: 100vh;

    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: $bgColorBlur;
    backdrop-filter: blur(10px);
}

.highlight-text {
    color: $highlightColor;
}

.bright-text {
    color: $textColorLightest;
}

.bottom-hightlight {
    position: relative;
    cursor: pointer;
    display: inline-flex;

    &::before {
        content: "";
        width: 0%;
        height: 1px;
        background-color: $highlightColor;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.highlight-btn {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid $highlightColor;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
        outline: none;
        box-shadow: -4px 4px 0 0 $highlightColor;
        transform: translate(5px, -5px);
    }
}

section {
    div {
        .section-heading {
            display: flex;
            -webkit-box-align: baseline;
            align-items: baseline;
            position: relative;
            margin: 10px 0px 40px;
            width: 100%;
            font-size: clamp(24px, 4vw, 28px);
            font-weight: 600;
            color: $textColorLightest;

            &::before {
                position: relative;
                counter-increment: section-counter 1;
                content: "0" counter(section-counter) ".";
                margin-right: 10px;
                color: $highlightColor;
                font-family: $mono-font;
                font-weight: 600;
                font-size: clamp(24px, 4vw, 28px);
            }

            &::after {
                content: "";
                display: block;
                position: relative;
                max-width: 400px;
                width: 100%;
                height: 2px;
                margin-left: 20px;
                background-color: $bgColorLight;
                align-self: center;

                @include breakpoint(ipad) {
                    display: none;

                }
            }
        }
    }
}


.car {
    stroke: $highlightColor;
}

.track {
    stroke: $textColor;

}