

$primary-font: "Poppins";
$mono-font: "Kode Mono", monospace;

$bgColor: var(--bg-Color);
$bgColorBlur: var(--bg-Color-Blur);
$bgColorLight: var(--bg-Color-Light);


$highlightColor: var(--highlight-Color);
$textColor: var(--text-Color);
$textColorDark: var(--text-Color-Dark);
$textColorLight: var(--text-Color-Light);
$textColorLightest: var(--text-Color-Lightest);