@import "../../assets/SCSS/variables";

#project {
    .featured {
        display: flex;
        align-items: center;
        position: relative;
        padding: 50px 0;

        &-wrapper {
            display: flex;
            gap: 100px;
            flex-direction: column;
        }

        &.right {
            justify-content: flex-end;

            .featured-img {
                left: 0;

            }

            .featured-info {
                align-items: flex-end;

            }

            .featured-description {
                text-align: end;
            }

            .spec-list {
                display: flex;
                justify-content: flex-end;
            }
        }

        &.left {
            justify-content: flex-start;

            .featured-img {
                right: 0;

            }

            .featured-description {
                text-align: start;
            }
        }

        &-img {
            position: absolute;
            top: 0;
            width: 65%;
            height: 100%;
            z-index: 1;
            background-color: $highlightColor;
            cursor: pointer;
            box-shadow: 0px 0px 4px 0px $highlightColor;
            border-radius: 5px;
            overflow: hidden;

            &:hover {
                box-shadow: unset;
            }

            img {
                object-fit: cover;
                object-position: left;
                width: 100%;
                height: 100%;
                mix-blend-mode: multiply;
                filter: grayscale(40%) contrast(0.7);
                transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);

                &:hover {
                    mix-blend-mode: unset;
                    filter: unset;
                    filter: contrast(0.7);
                }
            }
        }

        &-info {
            flex: 0.45;
            z-index: 2;
            position: relative;
            display: flex;
            flex-direction: column;

        }

        &-heading {
            font-size: 18px;
            margin: 8px 0;
        }

        &-name {
            font-weight: 600;
            font-size: 22px;
            color: $textColorLightest;
            margin-bottom: 8px;
        }

        &-description {
            background-color: $bgColorLight;
            padding: 30px 20px;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .spec-list {
            display: flex;
            gap: 5px 10px;
            flex-wrap: wrap;
            font-size: 15px;
            max-width: 75%;
        }

        .hyperlink-list {
            display: flex;
            gap: 5px;
            font-size: 20px;
            margin: 10px 0;
            color: $textColorLightest;

            li {
                &:hover {
                    color: $highlightColor;
                    cursor: pointer;
                    scale: 1.05;
                }
            }

        }
    }

    .other {
        &-project {
            margin-top: 100px;


            &-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
                gap: 15px;
                flex-wrap: wrap;

                &-item {
                    display: flex;
                    .project {
                        &-wrapper {
                            height: 100%;
                            padding: 20px;
                            background-color: $bgColorLight;
                            cursor: pointer;

                            &:hover {
                                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                                transform: translateY(-3px);
                            }
                        }

                        &-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .left {
                                font-size: 45px;

                            }

                            .right {
                                font-size: 24px;
                                display: flex;
                                gap: 10px;

                                svg {

                                    &:hover {
                                        color: $highlightColor;
                                    }
                                }

                            }

                        }

                        &-body {}

                        &-name {
                            font-size: 18px;
                            color: $textColorLightest;
                            font-weight: 600;
                            margin-bottom: 10px;

                        }

                        &-desc {
                            font-size: 14px;
                            margin-bottom: 15px;
                        }

                        &-tech {
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            flex-wrap: wrap;
                            gap: 5px 10px;
                            font-size: 16px;
                            text-transform: capitalize;

                        }
                    }
                }
            }
        }

        &-head-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;
        }

        &-heading {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            color: $textColorLightest;
        }

        &-subheading {
            font-size: 16px;
            text-align: center;

        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        margin: 40px 0;

        button {
            padding: 15px 25px;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                font-size: 20px;
            }
        }
    }
}