@import "../../assets/SCSS/variables.scss";

.header {
    position: fixed;
    top: 0%;
    left: 0;

    &.container {
        min-width: 100%;
        height: 80px;
        z-index: 10;
    }

    &.scaleUp {
        top: -80px;
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    &-logo {
        font-size: 24px;
        font-family: $primary-font;
        border-radius: 100%;
        width: 50px;
        aspect-ratio: 1/1;
        height: 50px;
        display: grid;
        place-content: center;
        cursor: pointer;
        color: $highlightColor;
        font-weight: 300;
        border: 2px solid $highlightColor;

        a {
            color: $highlightColor;
        }
    }

    &-nav {
        &-list {
            display: flex;
            gap: 10px;
        }

        &-item {
            counter-increment: item 1;
            margin: 0 2px;
            padding: 10px;
            font-size: 14px;
            color: $textColorLightest;
            display: inline-flex;
            align-items: center;

            &::before {
                content: "0" counter(item) ".";
                margin-right: 5px;
                color: $highlightColor;
                font-family: $mono-font;
            }

            a {
                color: $textColorLightest;

                &:hover {
                    color: $highlightColor;
                }

            }
        }
    }
}